Repository PolicyEngine/policyengine-uk, pull requests merged in 2021-10, with the labels that each got.

#279 Remove unused age_chart code and unused imports
  policy_engine_uk/app.py
  policy_engine_uk/populations/charts.py
  policy_engine_uk/situations/charts.py
Labels: code-health

#281 Refactor chart code
  client/src/js/pages/situation-results/overview.jsx
  policy_engine_uk/app.py
  policy_engine_uk/populations/charts.py
  policy_engine_uk/situations/charts.py
  policy_engine_uk/utils/charts.py
  policy_engine_uk/utils/formatting.py
  setup.py
  tests/server/populations/test_population_charts.py
  tests/server/situations/test_situation_charts.py
Labels: charts, code-health

#285 Add age parameters
  client/src/js/pages/policy/controls.jsx
  client/src/js/pages/policy/default_policy.js
  policy_engine_uk/simulation/parameters.yaml
  policy_engine_uk/simulation/reforms.py
Labels: policy
